<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #00c2cb">
            <nav class="navbar h1" style="background-color: #00c2cb">
                <a class="navbar-brand" href="#">
                    <img src="https://i.imgur.com/Qvw6KIV.jpg" width="181" height="50"  alt="">
                </a>
            </nav>
        
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/Hammer.com/admin/conAcceso">Trabajadores con Acceso</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Hammer.com/admin/sinAcceso">Trabajadores sin Acceso</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0" action="/Hammer.com/admin/buscar" method="GET">
                    <input class="form-control mr-sm-2" type="search" name="wd" id="wd" placeholder="Buscar Trabajador" aria-label="Search">
                    <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Buscar</button>
                </form>
            </div>
        </nav>
        <div class="container-fluid">
            <div class="row">
                <nav class="col-md-2 d-none d-md-block sidebar" style="background-color: #00c2cb">
                    <div class="sidebar-sticky">
                        <ul class="nav flex-column">
                            <h3 class="title">Mi cuenta</h3>
                            <br>
                            <div class="media-left form-inline" style="float:right">
                                <figure class="image">
                                    <a><img src="data:;base64,{{ admin['foto'] }}" class="border" alt="Image" style="overflow:hidden ;height: 128px; width:128px"></a>
                                </figure>
                            </div>
                            <p class="subtitle"><strong>Nombre de Contacto</strong></p>
                            <p>{{ admin['nombre'] }} {{ admin['apellido'] }}</p>
                            <p class="subtitle"><strong>Correo Electrónico</strong></p>
                            <p>{{ admin['correo'] }} </p>
                        </ul>
                    </div>
                </nav>
                <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                    {% block contenidoInicioAdmin %}
                    {% endblock %}
                </main>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>
