<!DOCTYPE html>
<body>
    <h1>Hammer</h1>
    <p>Bienvenido</p>
    <div class="tab">
        <a href="/Hammer.com/u" style="color:rgb(0, 0, 128)"> Pagina Principal</a><br><br>
        <a href="/Hammer.com/informacionEmpresa" style="color:rgb(0, 0, 128)"> Quienes Somos</a><br><br>
        <a href="/Hammer.com/citas" style="color:rgb(0, 0, 128)"> Trabajos Recientes</a><br><br>
        <a href="/Hammer.com/tu-Cuenta/" style="color:rgb(0, 0, 128)"> Tu Cuenta</a><br><br>
    
    </div>
       
    {% for i in busqueda %}
    <form action="/Hammer.com/agendarCita/form" method="post">
    <p>{{i["id"]}}</p>
    <p>{{i["nombre"]}}</p>
    <p>{{i["apellido"]}}</p>
    <p>{{i["Categoría"]}}</p>
    <p>{{i["departamento"]}}</p>
    <p>{{i["vigencia"]}}</p>
    <input type="hidden" name="Trabajador" id ="Trabajador" value="{{i['correo']}}">
    <input type="submit" value="Agendar Cita">
    </form>
    <div></div>
    {% endfor %}
    
</body>
</html>