<!DOCTYPE html>
<html>
<head>
<title>Title of the document</title>
</head>

<body>
<div class="tab">
    <a href="/Hammer.com/u" style="color:rgb(0, 0, 128)"> Pagina Principal</a><br><br>
    <a href="/Hammer.com/informacionEmpresa" style="color:rgb(0, 0, 128)"> Quienes Somos</a><br><br>
    <a href="/Hammer.com/citas" style="color:rgb(0, 0, 128)"> Trabajos Recientes</a><br><br>
    <a href="/Hammer.com/tu-Cuenta/" style="color:rgb(0, 0, 128)"> Tu Cuenta</a><br><br>
</div>
<p>Citas pendientes</p>
{% for x in citaspendientes %}
    <p>{{x['Fecha']}}</p>
    <p>{{x['NombreTrabajador']}} {{x['ApellidoTrabajador']}}</p>
{% endfor %}
<br>
<p>Citas en espera de Confirmación</p>
{% for y in citasnoconfirmadas %}
    <p>{{y['Fecha']}}</p>
    <p>{{y['NombreTrabajador']}} {{y['ApellidoTrabajador']}}</p>
{% endfor %}
<br>
<p>Citas pasadas</p>
{% for z in citaspasadas %}
    <p>{{z['Fecha']}}</p>
    <p>{{z['NombreTrabajador']}} {{z['ApellidoTrabajador']}}</p>
{% endfor %}
</body>

</html>