{% extends 'layout.html'%}

{% block body %}

<div class="col-md-4 offset-md-4">
    <div class="card card-body">
        <form action="/update/{{contact.0}}" method="POST">
            
            <div class="form-group">
                <input type="text" name="name" placeholder="Nombre" value="{{contact.1}}" class="form-control">
            </div>
            
            
            <!--<input type="text" name="phone" placeholder="Phone">-->
            <div class="form-group">
                <button type="submit" class="btn btn-success btn-block"> Save </button>
            </div>
            

    </div>
</div>



      
</form>

{% endblock %}