<!DOCTYPE html>
<html>
<body style="background-color:rgb(245, 245, 245);" >
<center>
    <div style="background-color:rgb(255, 255, 255);">
            <h2 style="font-size:100px;color:rgb(0, 0, 128);">HAMMER</h2>
    </div>
</center>
    <div style="margin-left:410px">
            <form action="/servlet/login" method="post">
              <label for="correo" style="font-size:20px;font-style:Perpetua">Correo electronico</label><br>
              <input type="text" id="correo" name="correo" size="100" required><br><br>
              
              <label for="contra" style="font-size:20px;font-style:Perpetua">Password</label><br>
              <input type="password" id="contra" name="contra" size="100"><br><br>
              <input type="submit" value="Submit">
            </form> <br><br>
        
            <a href="/register/user" style="color:rgb(0, 0, 128)"> ¿Eres nuevo usuario? Registrate</a><br><br>
            <a href="/register/worker" style="color:rgb(0, 0, 128)" > ¿Quieres trabahar con nosotros? Registrate</a>
    </div>

</body>
</html>
