{% extends 'sidebarWorker.html' %}

<!doctype html>
<html lang="en">

{% block body %}
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Styles -->
    <link rel="stylesheet" href="static/css/workStyle.css">

    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Muli:300,700&display=swap" rel="stylesheet">

    <!-- Ionic icons -->
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>


    <title>Pagos</title>
</head>

<body>
    
    

         <!-- Navbar -->
         <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <div class="container">
    
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
    
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                  <li class="nav-item dropdown">
                    <a class="nav-link text-dark dropdown-toggle" href="#" id="navbarDropdown" role="button"
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{worker['nombre']}} {{worker["apellido"]}}
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="/Hammer.com/perfil">Mi perfil</a>
                      <a class="dropdown-item" href="/Hammer.com/configuracion">Configuración</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="/Hammer.com/salirU">Cerrar sesión</a>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
          <!-- Fin Navbar -->

        <!-- Page Content -->
        <div id="content" class="bg-grey w-100">

              <section class="bg-light py-3">
                  <div class="container">
                      <div class="row">
                          <div class="col-lg-9 col-md-8">
                            <h1 class="font-weight-bold mb-0">Bienvenido {{worker['nombre']}}</h1>
                            <div class="col-md-4">
                                <img src="data:;base64,{{ worker['foto'] }}" class="card-img" alt="Image" style="overflow:hidden ;height: 180px; width:180px">
                            </div>
                            <p class="lead text-muted">No olvides pagar a tiempo tu membresía para que no te quedes sin ofrecer tus serviecios.</p>
                          </div>
                      </div>
                  </div>
              </section>

              <section>
                  <div class="row mb-2">
                      <div class="col-md-6">
                          {% for tarj in tarjetas %}
                          <div class="card">
                              <p><strong> Nombre del propietario: </strong> {{ tarj['Titular'] }} </p>
                              <p><strong> Tipo de tarjeta de credito: </strong> {{ tarj['Tipo'] }} </p>
                              <p><strong> Numero de tarjeta de credito: </strong> {{ tarj['Numero'] }} </p>
                              <p><strong> Fecha: </strong> {{ tarj['Dia'] }}-{{ tarj['Mes'] }} </p>
                              <a href="/pagar"><button>Pagar con esta tarjeta</button></a>
                          </div>
                          {% endfor %}
                      </div>
                      <div class="col-md-6">
                        <section class="card">
                          <div class="title is-parent" style="margin: 10px;">
                            <p>Registre una nueva tarjeta de credito:</p>
                          </div>
            
                          <div class="card" style="border-color: #355BC1;">
                            <form method="POST" action="/anadirTarjeta" style="margin: 10px;">
            
                                <label for="owner">Dueño de la tarjeta de crédito:</label>
                                <input type="text" class="form-control" id="Dueno" name="titular" placeholder="" required>
                                <br><br>
                                <label for="Tipo">Tipo de tarjeta de crédito:</label>
                                  <select  id="Tipo" name="tipo" required>
                                  <option value="Visa">Visa</option>
                                  <option value="American Express">American Express</option>
                                  <option value="Mastercard">Mastercard</option>
                                  </select>
                              <br><br>
            
                              <label for="numero">Número de la tarjeta de crédito:</label>
                              <input type="text" style="width: fit-content;" class="form-control" id="numero" name="numero" pattern=".{16,16}" placeholder="0000000000000000" required>
                              <br><br>
            
                              <label for="código">Código de la tarjeta de crédito:</label>
                              <input type="text" style="width: fit-content;" class="form-control" id="codigo" name="cvv" pattern=".{4,4}" placeholder="0000" required>
                              <br><br>
            
                              <label for="mes">Mes de vencimieto:</label>
                              <select name="dia" id="mes" required>
                                {% for mes in meses %}
                                <option value="{{mes}}">{{mes}} </option>
                                {% endfor %}
                              </select>
                              <br><br>
            
                              <label for="anno">Año de vencimieto:</label>
            
                              <select name="mes" id="anno" required>
                                  {% for anno in annos %}
                                <option value="{{anno}}">{{anno}} </option>
                                {% endfor %}
                              </select>
                              <br><br>
                              <input type ="hidden" value ="3" name="formid" id="formid">
                              <input type="hidden" value="<%= usuario.getIdUsuario() %>" name="idCliente" id="idCliente">
                              <div>
                                <button class="btn my-2 my-sm-0"  style="color: #355BC1;outline-color: #C7C7C7;" type="button">Ingresar tarjeta de crédito</button>
                              </div>
                            </form>
                          </div>
                        </section>
                      </div>
                  </div>
              </section>
            


              
        </div>
        </div>
        </div>
    </div>
</body>

{% endblock %}

</html>