<!DOCTYPE html>
<html>
<head>
<title>Hammer</title>
</head>
<body>

<h1>Hammer</h1>
<p>Bienvenido</p>
<div class="tab">
    <a href="/Hammer.com/u" style="color:rgb(0, 0, 128)"> Pagina Principal</a><br><br>
    <a href="/Hammer.com/informacionEmpresa" style="color:rgb(0, 0, 128)"> Quienes Somos</a><br><br>
    <a href="/Hammer.com/citas" style="color:rgb(0, 0, 128)"> Trabajos Recientes</a><br><br>
    <a href="/Hammer.com/tu-Cuenta/" style="color:rgb(0, 0, 128)"> Tu Cuenta</a><br><br>

</div>

<form action="/Hammer.com/buscarTrabajadores/busqueda" method="post">
  <p>
    Búsqueda: <input type="text" id = "palabra" name="palabra">

  </p>
    <p>Filtros:</p>
    <label for="departamento" style="font-size:20px;font-style:Perpetua">Departamento</label><br>
                <select id="filtroDepartamento" name="filtroDepartamento">
                    <option value="Todos">Todos</option>
                    {% for departamento in departamentos %}
                        {% if departamento['nombre'] == usuarioactivo['departamento']%}
                            <option value="{{departamento['id']}}" selected>{{ departamento['nombre'] }}</option>
                        {% else %}
                            <option value="{{departamento['id']}}">{{ departamento['nombre'] }}</option>
                        {% endif %}
                    {% endfor %}
                </select> <br><br>
    <label for="departamento" style="font-size:20px;font-style:Perpetua">Categoria</label><br>
                <select id="filtroCategoria" name="filtroCategoria">
                    <option value="Todos">Todas</option>
                    {% for categoria in categorias %}
                            <option value="{{categoria['id']}}">{{ categoria['nombre'] }}</option>
                    {% endfor %}
                </select> <br><br>
    <input type="submit" value="Buscar">
</form>

{% for i in categorias %}
    <form action="/Hammer.com/buscarTrabajadores/categoria" method="post">
    <p>{{i["id"]}}</p>
    <p>{{i["nombre"]}}</p>
    <button type="submit" id="categoriaButton" name="categoriaButton" value="{{i['id']}}"><img src="data:;base64,{{i['imagen']}}"/></button>
    </form>
    {% endfor %}
    
</body>
</html>