<!DOCTYPE html>
<html>
<head>
<title>Hammer</title>
</head>
<body>

<h1>Hammer</h1>
<p>Bienvenido</p>
<div class="tab">
    <button class="tablinks" onclick="openCity(event, 'London')">Quienes Somos</button>
    <button class="tablinks" onclick="openCity(event, 'Paris')">Tus trabajos Recientes</button>
    <button class="tablinks" onclick="openCity(event, 'Tokyo')">Cuenta</button>

</div>

<form action="" method="post" target="_blank">
  <p>
    Búsqueda: <input type="search" name="busquedamusica" placeholder="Trabajadores, departamentos, trabajos...">
    <input type="submit" value="Buscar">
  </p>

</form>
{% for i in categorias %}
    <p>{{i["id"]}}</p>
    <p>{{i["nombre"]}}</p>
    <img src="data:;base64,{{i['imagen']}}" />
    {% endfor %}
</body>
</html>