<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Hammmer</title>
        <link rel="shortcut icon" href="images/logosinfondo.png">
        <link rel="stylesheet" href="https://bootswatch.com/4/materia/bootstrap.min.css">
        <link rel="stylesheet" href="css/footer.css">
        <script defer="" src="http://use.fontawesome.com/releases/v5.12.1/js//all.js"></script>
        <style>
              
        #busqueda::placeholder{
          color: rgb(115, 115, 115);
        }
        card{
            justify-content: center;
        }
       </style>
    </head>
    


    <body style="background:#EAEAEA;">
        <center>
            <div>
                <h2 style="font-size:50px;color:rgb(0, 0, 128);margin-top: 10px">HAMMER</h2>
            </div>
        </center>
        <div class="row justify-content-center align-items-center">
            <div class="col-md-5">
                <div class="card card-body">

                <h1>Crear Usuario</h1>
                <form action="/servlet/register/user" method="post">

                <div class="form-group">
                    <label for="nombre" style="font-size:20px;font-style:Perpetua">Nombre</label><br>
                <input type="text" id="nombre" name="nombre" size="100" required class="form-control">
                </div>

                <div class="form-group">
                    <label for="apellido" style="font-size:20px;font-style:Perpetua">Apellido</label><br>
                <input type="text" id="apellido" name="apellido" size="100" required class="form-control">
                </div>

                <div class="form-group">
                    <label for="email" style="font-size:20px;font-style:Perpetua">Correo electronico</label><br>
                <input type="email" id="email" name="email" size="100" required class="form-control">
                </div>


                <div class="form-group">
                    <label for="contraseña" style="font-size:20px;font-style:Perpetua">Contraseña</label><br>
                <input type="password" id="contraseña" name="contraseña" size="100" required class="form-control">
                </div>
                    
                <div class="form-group">
                    <label for="dui" style="font-size:20px;font-style:Perpetua">Numero de DUI</label><br>
                <input type="text" id="dui" name="dui" size="100" required maxlength="9" required class="form-control">
                </div>

                <div class="form-group">
                    <label for="telefono" style="font-size:20px;font-style:Perpetua">Numero de Telefono Personal</label><br>
                <input type="text" id="telefono" name="telefono" size="100" required class="form-control">
                </div>

                <div class="form-group">
                    <label for="genero" style="font-size:20px;font-style:Perpetua">Género</label><br>
                <select id="genero" name="genero" class="form-control">
                    <option value="Masculino">Masculino</option>
                    <option value="Femenino">Femenino</option>
                </select>
                </div>
                
                
                <div class="form-group">
                    <label for="departamento" style="font-size:20px;font-style:Perpetua">Departamento</label><br>
                <select id="departamento" name="departamento" class="form-control">
                    {% for departamento in departamentos %}
                    <option value="{{departamento['id']}}">,{{ departamento['nombre'] }}</option>
                    {% endfor %}
                </select>
                </div>
                
                
                <div class="form-group">
                    <label for="municipio" style="font-size:20px;font-style:Perpetua">Municipio</label><br>
                <select id="municipio" name="municipio" class="form-control">
                    {% for municipio in municipios %}
                    <option value="{{municipio['id']}}">{{ municipio['nombre'] }}</option>
                    {% endfor %}
                </select>
                </div>
                
                <div class="form-group">
                    <label for="direccion" style="font-size:20px;font-style:Perpetua">Direccion</label><br>
                <input type="text" id="direccion" name="direccion" size="100" required class="form-control">
                </div>
                
                <div class="form-group">
                    <label for="imagen" style="font-size:20px;font-style:Perpetua">Foto de perfil</label><br>
                    <input type="file" id="imagen" name="imagen" size="100" class="btn btn-normal btn-block">
                    <input type="submit" value="Crear Usuario" class="btn btn-primary btn-lg">
                    <input type="submit" value="Cancelar" class="btn btn-primary btn-lg">
                </div>
                
                
            </form> 

        </div>
        </div>
        </div>


        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

        <script src="{{url_for('static', filename='js/main.js')}}"></script>
    </body>
</html>
