{% extends "baseRegistro.html" %}
{% block formulario %}
        <div class="row justify-content-center align-items-center">
            <div class=" col-md-5">
                <div class="card card-body card-group text-white" style="background-color: rgb(0, 0, 0);">
                    <form action="/servlet/register/worker" method="POST" enctype="multipart/form-data">
                        <div class="form-group" style="font-size:30px;font-style:Perpetua"><strong>Registrate como trabajadar<strong/></div>

                            <div class="form-row">
                                <div class="col">
                                    <label for="nombre" style="font-size:20px;font-style:Perpetua">Nombre</label><br>
                                    <input class="form-control" type="text" id="nombre" name="nombre" size="100" required><br><br>
                                </div>
                                <div class="col">
                                    <label for="apellido" style="font-size:20px;font-style:Perpetua">Apellido</label><br>
                                    <input class="form-control" type="text" id="apellido" name="apellido" size="100" required><br><br>    
                                </div> 
                                <div class="col">
                                    <label for="genero" style="font-size:20px;font-style:Perpetua">Género</label><br>
                                    <select class="form-control" id="genero" name="genero">
                                        <option>Masculino</option>
                                        <option>Femenino</option>
                                    </select><br><br>
                                </div>  
                            </div>
                            
                            <div class="form-row">
                                <div class="col">
                                    <label for="correo" style="font-size:20px;font-style:Perpetua">Correo electrónico</label><br>
                                    <input class="form-control" type="email" id="correo" name="correo" size="100" required><br><br>
                                </div>
                                
                                <div class="col">
                                    <label for="contraseña" style="font-size:20px;font-style:Perpetua">Contraseña</label><br>
                                    <input class="form-control" type="password" id="contraseña" name="contraseña" size="100" required><br><br>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col">
                                    <div class="form-group">
                                        <label for="dui" style="font-size:20px;font-style:Perpetua">Numero de DUI</label><br>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="dui">00000000-0</span>
                                            </div>
                                            <input type="text" id="dui" name="dui" size="1000" required maxlength="10" required class="form-control"   aria-describedby="dui">
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label for="telefono" style="font-size:20px;font-style:Perpetua">Número de teléfono</label><br>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                            <span class="input-group-text" id="dui">+ 503 </span>
                                            </div>
                                            <input type="text" id="telefono" name="telefono" size="1000" placeholder="00000000" required maxlength="8" required class="form-control" aria-describedby="dui">
                                        </div>
                                    </div>
                                </div>
                            </div><br><br>
                            <div class="form-row">
                                <div class="col">
                                    <label for="departamento" style="font-size:20px;font-style:Perpetua">Departamento</label><br>
                                    <select id="departamento" name="departamento" class="form-control">
                                        {% for departamento in departamentos %}
                                        <option value="{{departamento['id']}}">{{ departamento['nombre'] }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col">
                                    <label for="municipio" style="font-size:20px;font-style:Perpetua">Municipio</label><br>
                                    <select id="municipio" name="municipio" class="form-control">
                                        {% for municipio in municipios %}
                                        <option value="{{municipio['id']}}">{{ municipio['nombre'] }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div> <br><br>
                            
                            <label for="direccion" style="font-size:20px;font-style:Perpetua">Dirección</label><br>
                            <input class="form-control" type="text" id="direccion" name="direccion" size="100" required><br><br>
                            
                            <label for="descripcion" style="font-size:20px;font-style:Perpetua">Descripcion de servicios a ofrecer</label><br>
                            <input class="form-control" type="text" id="descripcion" name="descripcion" size="250" required><br><br>
                            
                            <label for="imagen" style="font-size:20px;font-style:Perpetua">Sube una fotografía</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                                </div>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="imagen" name="imagen" aria-describedby="inputGroupFileAddon01">
                                    <label class="custom-file-label" for="imagen">Elija un archivo</label>
                                </div>
                            </div>
                            <script type="application/javascript">
                                $('input[type="file"]').change(function(e){
                                    var fileName = e.target.files[0].name;
                                    $('.custom-file-label').html(fileName);
                                });
                            </script>
                            <br>
                            <button class="btn btn-info btn-block" type="submit" >Crear usiario</button>
                        </div>
                    </form> 
                </div>
            </div>
        </div>
        <br><br>
        <br><br>
{% endblock %}
