{% extends "baseRegistro.html" %}
{% block formulario %}
       
<div class="row justify-content-center align-items-center">
    <div class=" col-md-5">
        <form action="/servlet/register/user" method="POST">    
            <div class="card card-body card-group text-white" style="background-color: black;">
                <div class="card float-left" style="background-color:black;">
                    <div class="form-group" style="font-size:30px;font-style:Perpetua"><strong>Crear Usuario<strong/></div>
                    <div class="form-group">
                        <label for="nombre" style="font-size:20px;font-style:Perpetua">Nombre</label><br>
                        <input type="text" id="nombre" name="nombre" size="100" required class="form-control">
                    </div>

                    <div class="form-group">
                        <label for="apellido" style="font-size:20px;font-style:Perpetua">Apellido</label><br>
                        <input type="text" id="apellido" name="apellido" size="100" required class="form-control">
                    </div>

                    <div class="form-group">
                        <label for="email" style="font-size:20px;font-style:Perpetua">Correo electronico</label><br>
                        <input type="email" id="email" name="email" size="100" required class="form-control">
                    </div>


                    <div class="form-group">
                        <label for="contraseña" style="font-size:20px;font-style:Perpetua">Contraseña</label><br>
                        <input type="password" id="contraseña" name="contraseña" size="100" required class="form-control">
                    </div>
                    
                    <div class="form-group">
                        <label for="dui" style="font-size:20px;font-style:Perpetua">Numero de DUI</label><br>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                            <span class="input-group-text" id="dui">Example: 00000000-0</span>
                            </div>
                            <input type="text" id="dui" name="dui" size="1000" required maxlength="10" required class="form-control"   aria-describedby="dui">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="telefono" style="font-size:20px;font-style:Perpetua">Numero de DUI</label><br>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                            <span class="input-group-text" id="dui">Example: 00000000-0</span>
                            </div>
                            <input type="text" id="telefono" name="telefono" size="1000" required maxlength="10" required class="form-control" aria-describedby="dui">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="telefono" style="font-size:20px;font-style:Perpetua">Numero de Telefono Personal</label><br>
                        <input type="text" id="telefono" name="telefono" size="100" required class="form-control">
                    </div>

                    <div class="form-group">
                        <label for="genero" style="font-size:20px;font-style:Perpetua">Género</label><br>
                        <select id="genero" name="genero" class="form-control">
                            <option value="Masculino">Masculino</option>
                            <option value="Femenino">Femenino</option>
                        </select>
                    </div>
                </div>
                <div class="card" style="background-color:black;">
                    <div class="form-group">
                        <label for="departamento" style="font-size:20px;font-style:Perpetua">Departamento</label><br>
                        <select id="departamento" name="departamento" class="form-control">
                            {% for departamento in departamentos %}
                            <option value="{{departamento['id']}}">{{ departamento['nombre'] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    
                    
                    <div class="form-group" ">
                        <label for="municipio" style="font-size:20px;font-style:Perpetua">Municipio</label><br>
                        <select id="municipio" name="municipio" class="form-control">
                            {% for municipio in municipios %}
                            <option value="{{municipio['id']}}">{{ municipio['nombre'] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    
                    <div class="form-group">
                        <label for="direccion" style="font-size:20px;font-style:Perpetua">Direccion</label><br>
                        <input type="text" id="direccion" name="direccion" size="100" required class="form-control">
                    </div>
                    
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                        </div>
                        <div class="custom-file">
                        <input type="file" class="custom-file-input" id="inputGroupFile01" name="imagen" aria-describedby="inputGroupFileAddon01">
                        <label class="custom-file-label" for="inputGroupFile01">Elija un archivo</label>
                        </div>
                    </div>
                    <script type="application/javascript">
                        $('input[type="file"]').change(function(e){
                            var fileName = e.target.files[0].name;
                            $('.custom-file-label').html(fileName);
                        });
                    </script>
                    <div>
                        <button type="submit" class="btn btn-info btn-block">Crear Usuario</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<br><br>

{% endblock %}
        