<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Hammmer</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='images/logosinfondo.png') }}">
        <link rel="stylesheet" href="https://bootswatch.com/4/materia/bootstrap.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
        <script defer="" src="http://use.fontawesome.com/releases/v5.12.1/js//all.js"></script>
        <style>
              
        #busqueda::placeholder{
          color: rgb(115, 115, 115);
        }
        card{
            justify-content: center;
        }
       </style>
    </head>
    


    <body style="background:rgb(245, 245, 245);">
        <center>
            <div>
                
                <h2 style="font-size:50px;color:rgb(0, 0, 128);margin-top: 10px">HAMMER</h2>
                <img src="{{ url_for('static', filename='images/logosinfondo.png') }}" width="40" height="40" HSPACE="10" VSPACE="10" >
            </div>
        </center>
        <div class="row justify-content-center align-items-center">
            <div class="col-md-5">
                <div class="card card-body">

                <h1>Crear Usuario</h1>
                <form action="/servlet/register/user" method="post">

                <div class="form-group">
                    <label for="nombre" style="font-size:20px;font-style:Perpetua">Nombre</label><br>
                <input type="text" id="nombre" name="nombre" size="100" required class="form-control">
                </div>

                <div class="form-group">
                    <label for="apellido" style="font-size:20px;font-style:Perpetua">Apellido</label><br>
                <input type="text" id="apellido" name="apellido" size="100" required class="form-control">
{% extends "baseRegistro.html" %}
{% block formulario %}
       
<div class="row justify-content-center align-items-center">
    <div class=" col-md-5">
        <form action="/servlet/register/user" method="POST">    
            <div class="card card-body card-group text-white" style="background-color: rgb(0, 0, 0);">
                <div class="form-group" style="font-size:30px;font-style:Perpetua"><strong>Crear Usuario</strong></div>
                <div class="form-row">
                    <div class="col">
                        <label for="nombre" style="font-size:20px;font-style:Perpetua">Nombre</label><br>
                        <input type="text" id="nombre" name="nombre" size="100" required class="form-control">
                    </div>

                    <div class="col">
                        <label for="apellido" style="font-size:20px;font-style:Perpetua">Apellido</label><br>
                        <input type="text" id="apellido" name="apellido" size="100" required class="form-control">
                    </div>
                </div>
                    

                <div class="form-group">
                    <label for="email" style="font-size:20px;font-style:Perpetua">Correo electronico</label><br>
                    <input type="email" id="email" name="email" size="100" required class="form-control">
                </div>

                <div class="form-group">
                    <label for="contraseña" style="font-size:20px;font-style:Perpetua">Contraseña</label><br>
                    <input type="password" id="contraseña" name="contraseña" size="100" required class="form-control">
                </div>
                

                <div class="form-group">
                    <label for="dui" style="font-size:20px;font-style:Perpetua">Numero de DUI</label><br>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="dui">Ejemplo: 00000000-0</span>
                        </div>
                        <input type="text" id="dui" name="dui" size="1000" required maxlength="10" required class="form-control"   aria-describedby="dui">
                    </div>
                </div>
                <div class="form-group">
                    <label for="telefono" style="font-size:20px;font-style:Perpetua">Número de teléfono personal</label><br>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                        <span class="input-group-text" id="dui">+ 503 </span>
                        </div>
                        <input type="text" id="telefono" name="telefono" size="1000" placeholder="0000-0000" required maxlength="10" required class="form-control" aria-describedby="dui">
                    </div>
                </div>

                <div class="form-group">
                    <label for="genero" style="font-size:20px;font-style:Perpetua">Género</label><br>
                    <select id="genero" name="genero" class="form-control">
                        <option value="Masculino">Masculino</option>
                        <option value="Femenino">Femenino</option>
                    </select>
                </div>
                <div class="form-row">
                    <div class="col">
                        <label for="departamento" style="font-size:20px;font-style:Perpetua">Departamento</label><br>
                        <select id="departamento" name="departamento" class="form-control">
                            {% for departamento in departamentos %}
                            <option value="{{departamento['id']}}">{{ departamento['nombre'] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col">
                        <label for="municipio" style="font-size:20px;font-style:Perpetua">Municipio</label><br>
                        <select id="municipio" name="municipio" class="form-control">
                            {% for municipio in municipios %}
                            <option value="{{municipio['id']}}">{{ municipio['nombre'] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <br><br>
                <div class="form-group">
                    <label for="direccion" style="font-size:20px;font-style:Perpetua">Direccion</label><br>
                    <input type="text" id="direccion" name="direccion" size="100" required class="form-control">
                </div>
                <br><br>
                <br><label for="imagen" style="font-size:20px;font-style:Perpetua">Sube una fotografía</label>
                <div class="input-group mb-3">
                    
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                    </div>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="imagen" name="imagen" aria-describedby="inputGroupFileAddon01">
                        <label class="custom-file-label" for="imagen">Elija un archivo</label>
                    </div>
                </div>
                <script type="application/javascript">
                    $('input[type="file"]').change(function(e){
                        var fileName = e.target.files[0].name;
                        $('.custom-file-label').html(fileName);
                    });
                </script>
                <br>
                <button type="submit" class="btn btn-info btn-block">Crear Usuario</button>
            </div>
        </form>
    </div>
</div>
<br><br>

{% endblock %}
        