
    <div class="d-flex" id="content-wrapper">
        <div id="sidebar-container" class="bg-primary">
            <div class="logo">
               <center><h4 class="text-light font-weight-bold mb-0">Hammer</h4></center>
            </div>
            <div class="menu">
                <a href="/Hammer.com/worker" class="d-block text-light p-3 border-0"><i class="icon ion-md-apps lead mr-2"></i>
                    Home</a>
    
                <a href="#" class="d-block text-light p-3 border-0"><i class="icon ion-md-people lead mr-2"></i>
                    Citas</a>
    
                <a href="#" class="d-block text-light p-3 border-0"><i class="icon ion-md-stats lead mr-2"></i>
                    Servicio Activo</a>
                <a href="#" class="d-block text-light p-3 border-0"><i class="icon ion-md-person lead mr-2"></i>
                    Historial</a> 
            </div>
        </div>

        <div class="w-100">
    
            {% block body%}
            {% endblock %}