
    <div class="d-flex" id="content-wrapper">
        <div id="sidebar-container" class="bg-primary">
            <div class="logo">
               <center><h4 class="text-light font-weight-bold mb-0">Hammer</h4></center>
            </div>
            <div class="menu">
                <a href="/Hammer.com/worker" class="d-block text-light p-3 border-0"><i class="icon ion-md-apps lead mr-2"></i>
                    Home</a>
    
                <a href="/Hammer.com/citasWorker" class="d-block text-light p-3 border-0"><i class="icon ion-md-people lead mr-2"></i>
                    Citas</a>
    
                <a href="/Hammer.com/servicioActivo" class="d-block text-light p-3 border-0"><i class="icon ion-md-stats lead mr-2"></i>
                    Servicios Activos</a>
                <a href="/Hammer.com/workerHistorial" class="d-block text-light p-3 border-0"><i class="icon ion-md-person lead mr-2"></i>
                    Historial</a> 
            </div>
        </div>

        <div class="w-100">
    
            {% block body%}
            {% endblock %}



            <footer class="page-footer font-small pt-4 text-white" style="background-color: black;">
                <div class="container text-center text-md-left">
                    <div class="row">
                        <div class="col-md-4 mx-auto">
                            <h1>HAMMER</h1>
                            <h3>La solución en tus manos</h3>
                            <!--<div class="row1">
                                <div class="container-image">
                                    <a style="text-decoration:none; color:#C7C7C7;" href=""><img src="https://i.imgur.com/gfWULM8.png" width="40" height="40" HSPACE="25" VSPACE="25"></a>
                                
                                    <a style="text-decoration:none; color:#C7C7C7;" href=""><img style="border-radius: 10px;" src="https://i.imgur.com/8NYN8Ox.png" width="40" height="40" HSPACE="25" VSPACE="25"></a>
                                    
                                    <a style="text-decoration:none; color:#C7C7C7;" href=""><img style="border-radius: 10px;"  src="https://i.imgur.com/3hlDnsb.jpg" width="40" height="40" HSPACE="25" VSPACE="25"></a>
                                </div>
                            </div>-->
                        </div>
                        <hr class="clearfix w-100 d-md-none">
                        <div class="col-md-3 mx-auto">
                            <h1>Servicios en:</h1>
                            <div class="row1">
                                <label><a style="text-decoration:none; color:#C7C7C7;" href="">Fontanería</a></label>
                            </div>
            
                            <div class="row1">
                                <label><a style="text-decoration:none; color:#C7C7C7;" href="">Electricidad</a></label>
                            </div>
                            
                            <div class="row1">
                                <label><a style="text-decoration:none; color:#C7C7C7;" href="">Jardinería</a></label>
                            </div>
                            <div class="row1">
                                <label><a style="text-decoration:none; color:#C7C7C7;" href="">Albañilería</a></label>
                            </div>
                            <div class="row1">
                                <label><a style="text-decoration:none; color:#C7C7C7;" href="">Mantenimiento</a></label>
                            </div>
            
                        </div>
                        <hr class="clearfix w-100 d-md-none">
                        <div class="col-md-2 mx-auto">
                            <h1>Contáctanos</h1>
                            <div class="row1">
                                <label>Número de teléfono</label>
                                <br>
                                <a href="tel:+503 1234-5678"><p>+503 1234-5678</p></a>
                            </div>
                        
                            <div class="row1">
                                <label>Correo Electrónico</label>
                                <br>
                                <a href="mailto:hammer.info@gmail.com"><p>hammer@hammer.com</p></a>
                            </div>
                
                        </div>
                        <hr class="clearfix w-100 d-md-none">
                    </div>
                    <hr>
                    
                    <hr>
                </div>
                <div class="footer-copyright text-center py-3">HAMMER 2020 | Design by Hermes</div>
            </footer>      