{% extends "baseadmin.html" %}
{% block title %}Inicio Administrador{% endblock %}
{% block currentWAccessAdmin %}<span class="sr-only">(current)</span>{% endblock %}
{% block contenidoInicioAdmin %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">Trabajadores con Acceso</h1>
</div>
<div class="box" style="border: lightgray 2px inset;margin-right: 2.5%; float:left; width:47.5%;">
    <article class="media">
        <div class="media-left">
            <figure class="image is-128x128">
                <a href= "" ><img src="https://i.imgur.com/h6LWrGM.png" alt="Image" style="overflow:hidden ;max-height: 128px; max-width:128px"></a>
            </figure>
        </div>
        <div class="media-content">
            <div class="content">
                <p><strong>Nombre</strong>
                    <br>
                    Correo
                    <br>
                    Descripción
                </p>
            </div>
        </div>
    </article>
</div>
{% endblock %}