{% extends "baseadmin.html" %}
{% block title %}Hammer - Trabajadores con Acceso{% endblock %}
{% block contenidoInicioAdmin %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">Trabajadores con Acceso</h1>
</div>

{% for x in trabajadores %}
    <div style="float: left; width: 31%; margin: 1%;">
        <div class="card border-success">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="data:;base64,{{ x['foto'] }}" class="card-img" alt="Image" style="overflow:hidden ;height: 180px; width:180px">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title"><strong>{{ x['nombre'] }} {{ x['apellido'] }}</strong></strong></h5>
                        <hr style="border-color: green;">
                        <h6 class="card-title"><strong>Correo:</strong></h6>
                        <p class="card-text">{{ x['correo'] }}</p>
                        <h6 class="card-title"><strong>Teléfono:</strong></h6>
                        <p class="card-text">{{ x['telefono'] }}</p>
                        <a href="/Hammer.com/admin/worker/visulize/{{x['id']}}"><button type="button" class="btn btn-outline-success">Ir al perfil del trabajador</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
{% if cantidad == 0: %}
<div class="alert alert-danger alert-dismissible fade show" >
    <h4 class="alert-heading">No hemos encontrado ningún trabajador con acceso.</h4> 
    <h5>Comienza a dar accesos <a class="alert-link" href="/Hammer.com/admin/sinAcceso">aquí</a></h5>
    <hr>
    <h6>Una vez hayas dado acceso a los trabajadores, comenzarán a aparecer acá. Los trabajadores con acceso podrán activar sus membresías.</h6>
    <button type="button" class="close" data-dismiss="alert">&times;</button>
</div>
{% endif %}
{% endblock %}