{% extends 'sidebarWorker.html' %}

<!doctype html>
<html lang="en">

{% block body %}
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Styles -->
    <link rel="stylesheet" href="static/css/workStyle.css">

    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Muli:300,700&display=swap" rel="stylesheet">

    <!-- Ionic icons -->
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>


    <title>Home</title>
</head>

<body>
    
    

         <!-- Navbar -->
         <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <div class="container">
    
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
    
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                  <li class="nav-item dropdown">
                    <a class="btn btn-secondary dropdown-toggle" href="#" id="dropdownMenuButton" role="button"
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                    {{worker["nombre"]}} {{worker["apellido"]}}

                    {{worker['nombre']}}

                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="#">Mi perfil</a>
                      <a class="dropdown-item" href="#">Suscripciones</a>
                      <a class="dropdown-item" href="#">Cerrar sesión</a>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
          <!-- Fin Navbar -->

        <!-- Page Content -->
        <div id="content" class="bg-grey w-100">

              <section class="bg-light py-3">
                  <div class="container">
                      <div class="row">
                          <div class="col-lg-9 col-md-8">

                            <h1 class="font-weight-bold mb-0">Bienvenido {{worker["nombre"]}}</h1>

                            <h1 class="font-weight-bold mb-0">Bienvenido {{worker['nombre']}}</h1>
                            <div class="col-md-4">
                                <img src="data:;base64,{{ worker['foto'] }}" class="card-img" alt="Image" style="overflow:hidden ;height: 180px; width:180px">
                            </div>

                            <p class="lead text-muted">Revisa la última información</p>
                          </div>
                      </div>
                  </div>
              </section>

              <section class="bg-mix py-3">
                <div class="container">
                    <div class="card rounded-0">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-3 col-md-6 d-flex stat my-3">
                                    <div class="mx-auto">
                                        <h3 class="text-muted">Proxima cita</h3>
                                        <h4 class="text-muted">Cliente</h4>
                                        <h6 class="font-weight-bold">{{proximaCita[0][0]}} {{proximaCita[0][1]}}</h6>
                                        <h4 class="text-muted">Celular</h4>
                                        <h6 class="font-weight-bold">{{proximaCita[0][2]}}</h6>
                                        <h4 class="text-muted">Fecha</h4>
                                        <h6 class="font-weight-bold">{{proximaCita[0][3]}}</h6>
                                        <h4 class="text-muted">Hora</h4>
                                        <h6 class="font-weight-bold">{{proximaCita[0][4]}}</h6>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 d-flex stat my-3">
                                    <div class="mx-auto">
                                        <h3 class="text-muted">Tu rendimiento mes a mes</h3>
                                        <canvas id="citasMes" width="400" height="300"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              </section>

              

        </div>

        </div>
    </div>
</body>
<script>
let fuente = document.getElementById("citasMes").getContext("2d")

var chart = new Chart(fuente, {
	type:"bar",
	data: {
		labels: {{citasMes[0]}},
		datasets:[
			{
				label:"Evolución de citas por mes",
				backgroundColor:"rgb(140,220,240)",
				data: {{citasMes[1]}}
			}
		]
	},
  options:{
                scales:{
                    yAxes:[{
                            ticks:{
                                beginAtZero:true
                            },
                            scaleLabel:{
                              display: true,
                              labelString: 'Cantidad de citas',
                            }
                    }],
                    xAxes:[{
                            scaleLabel:{
                              display: true,
                              labelString: 'Numero del mes',
                            }
                    }]
                }
            }
})
</script>

{% endblock %}

</html>